.footer {
    background: #808f85;
    color: #31081f;
    padding: 0.2rem;
    font-size: 0.8rem;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}