.url-table {
    color: #000000;
    margin-top: 2.5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    width: 50%;
}

table tbody {
    background: #ffffff;
}

table a {
    text-decoration: none;
    color: #000000;
}

table a:hover {
    color: #6b0f1a;
}

table thead {
    background: #31081f;
    color: #dce0d9;
}